.auth-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--color-gray900);
    padding: 20px;
    border-radius: 8px;
    width: fit-content;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}
.auth-button {
    background-color: var(--color-redneon);
    font-size: 0.875rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 0.375rem;
    height: 2.85rem;
    color: var(--color-white);
    border: 0;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.auth-button:hover {
    background: var(--color-red);
}
.auth-button:active {
    transform: scale(0.95);
}