#page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-mainbg);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}
#page-loader.hidden {
    opacity: 0;
    pointer-events: none;
}
.loader-spinner {
    border: 5px solid var(--color-gray800);
    border-top: 5px solid var(--color-redneon);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}